@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before,
a:link,
a:visited,
a:hover,
a:active {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
}
*:focus {
	box-shadow: none;
}

:root {
	/* colors */
	--shade-1: #886a42;
	--shade-2: #55422a;
	--main-color: #aa8453;
	--tint-1: #bb9d75;
	--tint-2: #d5c2a9;
	--body-background: #3b3b3b;
	--second-gray: #333;
	--third-gray: #ddd;
	/* spacing */
	--section-padding: 96px;
	/* typography */
	--serif-typo: "Gilda Display", serif;
	--sans-serif-typo: "Barlow Condensed", sans-serif;
	--barlow-typo: "Barlow", sans-serif;
}
html {
	/* font-size: 10px; */
	/* 10px / 16px = 0.625 = 62.5% */
	/* Percentage of user's browser font-size setting */
	font-size: 62.5%;
}

#root {
	font-family: "Nunito Sans", sans-serif;
	background-color: var(--body-background);
	color: #615551;
	letter-spacing: 1px;
	background-image: linear-gradient(135deg, #fbdb89, #f59583);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	min-height: 100vh;

	/* width: 100%; */

	@media (min-width: 1024px) {
		height: auto;
	}

	@media (min-width: 1100px) {
		padding: 4rem;
	}
}
::selection {
	background-color: #e4c479;
}

.container-fluid {
	padding: 0 1.6rem;
}
.container {
	max-width: 100%;
	padding-left: 2.4rem;
	padding-right: 2.4rem;
}
img {
	max-width: 100%;
	display: block;
}
.feather {
	color: #f38e82;
}

/* ########## Body #########  */
.app-container {
	background-color: #f9f5f3;
	box-shadow: 0 30px 50px #00000024;
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;

	@media (min-width: 1024px) {
		border-radius: 10px;
		width: 120rem;
	}
}

.app-box {
	background-color: #f9f5f3;
	display: grid;
	grid-template-columns: 1fr;

	overflow-y: auto;

	width: 100%;

	min-height: 80vh;

	height: calc(100% - 8rem);

	@media (min-width: 1024px) {
		grid-template-columns: 1fr 2fr;
		height: auto;
	}

	/* @media (min-width: 1100px) { */
	/* border-radius: 10px; */
	/* } */
}

.nav-bar {
	/* grid-column: 1 / -1; */
	padding: 0rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	height: 8rem;
	box-shadow: 1px 2px 73px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 2px 73px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 2px 73px 0px rgba(0, 0, 0, 0.1);

	@media (min-width: 600px) {
		padding: 0 4rem;
		height: 8.8rem;
	}

	@media (min-width: 1024px) {
		z-index: 3;
		position: relative;
	}
}
.nav-bar > * {
	flex-shrink: 0;
}

.hamburger-menu {
	font-size: 2.4rem;
	color: #f38e82;
}

.nav-brand img {
	height: 4.4rem;

	@media (min-width: 600px) {
		height: 5rem;
	}
}

.search-form {
	position: relative;
	/* flex-basis: 40%; */
	border-radius: 40px;
	transform: translateY(0);
	transition: transform 0.3s, box-shadow 0.3s;
	display: none;
	max-width: 42rem;
	flex-grow: 1;
	width: 85%;
	margin: 0 auto;

	@media (min-width: 1024px) {
		display: flex;
	}
}

.search-form:focus-within {
	box-shadow: rgba(0, 0, 0, 0.055) 0px 5px 15px;
	transform: translateY(-3px);
}

.search-form.show {
	display: block;
	flex-grow: 0;
	margin: 1rem auto 3rem auto;
	position: sticky;
	top: 100px;
	z-index: 1;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);

	border: 1px solid #ddd;

	@media (min-width: 1024px) {
		display: none;
	}

	@media (min-width: 600px) {
		top: 110px;
	}
}
.search-form.show span {
	display: none;

	@media (min-width: 425px) {
		display: block;
	}
}

.search-form input {
	border: 0;
	outline: 0;
	padding: 1.5rem 0 1.5rem 1.8rem;
	width: 100%;
	font-size: 1.4rem;
	border-radius: 40px;
	background-color: #eee;

	@media (min-width: 1024px) {
		font-size: 1.6rem;
		padding: 1.5rem 0 1.5rem 3rem;
	}
}
.search-form input::placeholder {
	color: #d3c7c3;
}
.search-form input:focus {
	box-shadow: none;
}

/*  */
.btn {
	background-image: linear-gradient(161deg, #fbdb89, #f59583);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	transition: transform 0.3s;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 1.2rem;
	border: 0;
	font-family: inherit;
	font-weight: 600;
	gap: 0.4rem;
	font-size: 1.6rem;

	@media (min-width: 425px) {
		padding: 0rem 1.6rem;
	}

	@media (min-width: 1024px) {
		gap: 1rem;
		padding: 0rem 3rem;
	}
}
/*  */
.btn:hover {
	transform: scale(1.05);
}
.search-btn .feather {
	color: #fff;
}
.nav-btn-box {
	display: flex;
	align-items: center;
	height: 100%;
	/* margin-right: -1rem; */
}
.nav-btn {
	color: #444;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	height: 100%;
	border: 0;
	padding: 0 0.6rem;
	background-color: transparent;
	transition: background-color 0.3s;

	@media (min-width: 335px) {
		padding: 0 1.2rem;
	}

	@media (min-width: 600px) {
		padding: 0 1.6rem;
	}
}

.nav-btn:has(.hamburger-menu) {
	@media (min-width: 1024px) {
		display: none;
	}
}

.nav-btn > span {
	display: none;

	@media (min-width: 600px) {
		display: block;
	}
}

.nav-btn:hover {
	background-color: #f2efee;
}
.nav-btn-box .feather {
	color: #f38e82;
}
.bookmarks-btn:hover .recipes-list-box {
	visibility: visible;
	opacity: 1;
}
.recipes-list-box.bookmarks {
	background-color: #fff;
	padding: 10px 0;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 2;
	width: 400px;
	visibility: hidden;
	opacity: 0;
	cursor: initial;
	transition: opacity 0.3s, visibility 1s;
	overflow-y: auto;
	max-height: 46rem;
	width: 100%;
	max-width: 40rem;
	border: 1px solid #eee;
}
.bookmarks-btn .recipe-publisher {
	margin-right: auto;
	display: block;
	width: fit-content;
}
.bookmarks-btn .message {
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	margin: 0;
	max-width: none;
	padding: 30px 40px;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	text-transform: initial;
}
/*************** recipes list area **************/
.recipes-list-area {
	background: #fff;
	display: flex;
	flex-direction: column;
	/* padding: 20px 0; */
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	max-width: 40rem;
	z-index: 2;
	transition: transform 0.3s;
	overflow-y: auto;
	box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.1);
	height: 100vh;

	transform: translateX(-100%);

	@media (min-width: 1024px) {
		height: auto;
		position: static;
		transform: translate(0);
		box-shadow: none;
		padding-top: 2rem;
	}
}

.recipes-list-area.show {
	transform: translateX(0);
}

.nav-bar.recipes-list {
	position: sticky;
	top: 0;
	flex-shrink: 0;
	z-index: 1;

	@media (min-width: 1024px) {
		display: none;
	}

	@media (min-width: 600px) {
		padding: 0 2rem;
	}
}

.recipes-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.recipes-list-container {
	display: flex;
}

/* loading spinner */
.loading-spinner-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	/* height: 100%; */
}
.feather-loader {
	--loading-spinner-size: 60px;
	width: var(--loading-spinner-size);
	height: var(--loading-spinner-size);
	color: #f38e82;
	animation: infinite-rotate 2s linear infinite;
}

/* Recipes */
.recipes-list-box {
	display: flex;
	flex-direction: column;
	/* padding: 2rem 0; */
}
.recipe {
	transition: background-color 0.3s, transform 0.3s;
}
.recipe:hover {
	background-color: #f9f5f3;
	transform: translateY(-3px);
}
.recipe.active {
	background-color: #f9f5f3;
}
.recipe a {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 15px 30px;
}
.recipes-list-box .recipe-img {
	display: block;
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
	flex: 0 0 auto;
}
.recipe-info {
	overflow: hidden;
}
.recipe-result-options {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipes-list-box .recipe-title {
	color: #f38e82;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 5px;
	text-align: start;
}
.recipe-publisher {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 10px;
	color: #555;
}
/* Pagination */
.paginations-box {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 1.4rem auto 3.2rem auto;
	/* margin: 2rem auto; */
}
.pagination {
	border-radius: 20px;
	background-color: #f9f5f3;
	color: #f38e82;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	border: 0;
	outline: 0;
	gap: 10px;
}
.pagination .feather {
	--icon-width-height: 15px;
	height: var(--icon-width-height);
	width: var(--icon-width-height);
}
.next {
	margin-left: auto;
}
.previous {
	margin-right: auto;
}

/* Copyright */
.copyright {
	font-size: 1.2rem;
	font-weight: 500;
	padding: 2rem 2.6rem;
	margin-top: auto;
	color: #aaa;
}
.twitter-link {
	color: #918581;
}

/*************** recipes details area **************/
.message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	max-width: 80%;
	margin: 0 auto;
	gap: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	height: 100%;

	@media (min-width: 425px) {
		font-size: 1.8rem;
	}
	@media (min-width: 1024px) {
		height: auto;
	}
}

.recipes-list-area .message {
	margin-top: -7.8rem;

	@media (min-width: 1024px) {
		margin-top: 0;
		/* height: 100%; */
	}
}

.message .feather {
	--icon-width-height: 40px;
	color: #f38e82;
	height: var(--icon-width-height);
	width: var(--icon-width-height);
	margin-top: -2px;
	flex: 0 0 auto;
}
/* Recipe detail img */
.recipe-detail-box {
	display: flex;
	flex-direction: column;
}
/* .recipe-detail-box.show {
} */
.recipe-detail-box .recipe-img {
	position: relative;
	z-index: 0;
}

.recipe-detail-box .recipe-img::after {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
}
.recipe-detail-box .recipe-img img {
	width: 100%;
	object-fit: cover;
	height: 320px;
}
.recipe-detail-box .recipe-title {
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: skewY(-5deg) translateX(-50%);
	line-height: 1.95;
	bottom: 0%;

	font-size: 1.4rem;

	@media (min-width: 500px) {
		font-size: 1.6rem;
	}

	@media (min-width: 768px) {
		font-size: 2.2rem;
	}
}
.recipe-detail-box .recipe-title span {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
	padding: 0.4rem 2.2rem;

	@media (min-width: 500px) {
		padding: 0.8rem 2.4rem;
	}

	@media (min-width: 768px) {
		padding: 1rem 2.8rem;
	}
}
/* Recipe detail options */
.recipe-options {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 2rem;

	@media (min-width: 500px) {
		padding: 3rem 4rem;
	}

	@media (min-width: 600px) {
		padding: 4rem 8rem;
	}
}
.cooking-time-box,
.servings-box {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-right: 2rem;
	font-size: 1.08rem;

	@media (min-width: 375px) {
		margin-right: 3rem;
		font-size: 1.2rem;
	}

	@media (min-width: 425px) {
		margin-right: 3rem;
	}

	@media (min-width: 600px) {
		font-size: 1.6rem;
	}

	@media (min-width: 700px) {
		margin-right: 5rem;
	}
}
.cooking-time-box > *,
.servings-box > * {
	flex-shrink: 0;
}
.cooking-time-box .text,
.servings-box .text {
	margin-left: 0.6rem;

	@media (min-width: 375px) {
		margin-left: 1rem;
	}
}

.recipe-options .feather {
	width: 1.6rem;

	@media (min-width: 375px) {
		width: 1.8rem;
	}

	@media (min-width: 425px) {
		width: 2.4rem;
	}
}
.cooking-time-box > .feather,
.servings-box > .feather {
	margin-bottom: 0.1rem;
}
.servings-box .text {
	margin-right: 0.2rem;

	@media (min-width: 375px) {
		margin-right: 0.8rem;
	}
}
.servings-box :is(.feather-add-circle, .feather-minus-circle) {
	cursor: pointer;
	transition: transform 0.3s;
}
.servings-box :is(.feather-add-circle, .feather-minus-circle):hover {
	transform: translateY(-2px);
}

.serving-btn-box {
	/* display: none; */

	/* @media (min-width: 768px) { */
	display: flex;
	align-items: center;
	gap: 0.2rem;
	/* } */
}

.servings-btn {
	border: 0;
	background-color: initial;
	height: fit-content;
	/* margin-left: -0.4rem; */
}

.serving-btn-box .feather {
	width: 1rem;
	margin-top: 0.2rem;

	@media (min-width: 375px) {
		width: 1.7rem;
	}
}

/* Recipe detail bookmark */
.bookmark-recipe {
	margin-left: auto;
	background-image: linear-gradient(135deg, #fbdb89, #f59583);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	border: 0;
	aspect-ratio: 1;
	width: 3.2rem;

	@media (min-width: 425px) {
		width: 4.5rem;
	}
}
.bookmark-recipe .feather {
	color: #fff;
}
/* recipe ingredients */
.recipe-ingredients {
	background-color: #f2efee;
	padding: 4rem;

	@media (min-width: 500px) {
		padding: 5rem 5rem;
	}

	@media (min-width: 600px) {
		padding: 5rem 8rem;
	}
}
.title {
	display: block;
	width: max-content;
	margin: 0 auto;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 3rem;
	color: #f38e82;
	text-wrap: nowrap;

	@media (min-width: 500px) {
		font-size: 2rem;
	}
}
.ingredients-box {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;

	margin: 0 auto;
	width: fit-content;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		column-gap: 4rem;
	}
}

.ingredient {
	display: flex;
	align-items: baseline;
	font-size: 1.2rem;

	@media (min-width: 425px) {
		font-size: 1.4rem;
	}

	@media (min-width: 500px) {
		font-size: 1.6rem;
	}
}

.bullet-icon {
	flex-shrink: 0;
	margin-right: 1rem;
	height: 1rem;
	color: #f38e82;
}

.ingredient-quantity {
	margin-right: 5px;
}
.delete-ingredient {
	flex-shrink: 0;
	color: red;
	background-color: #ddd;
	border: 0;
	margin-left: auto;
	border-radius: 100%;
	aspect-ratio: 1;
	height: 1.6rem;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}
.delete-ingredient:hover {
	background-color: #fbdb89;
}
/* How to cook it */
.how-to-cook {
	padding: 3rem;

	@media (min-width: 500px) {
		padding: 5rem 5rem;
	}

	@media (min-width: 600px) {
		padding: 5rem 8rem;
	}
}
.how-to-cook a {
	display: block;
	margin: 0 auto;
	width: fit-content;
}
.recipe-direction-text {
	margin-bottom: 3.4rem;
	font-size: 1.4rem;
	text-align: center;
	color: #918581;

	@media (min-width: 600px) {
		font-size: 1.6rem;
	}
}
.how-to-cook-btn {
	border: 0;
	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	width: fit-content;
	padding: 15px 20px;
	margin: 0 auto;
}
.how-to-cook-btn:hover {
	transform: scale(1.05);
}
.feather-arrow-right {
	color: inherit;
	--icon-width-height: 17px;
	height: var(--icon-width-height);
	width: var(--icon-width-height);
}

/*************** Modal window **************/
.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.295);
	backdrop-filter: blur(3px);
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s;
}
.overlay.show {
	visibility: visible;
	opacity: 1;
}
.add-recipe-modal {
	/* width: 85rem; */
	padding: 3rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	position: relative;
	color: #615551;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	max-width: 90%;
	max-height: 95%;
	overflow-y: auto;

	@media (min-width: 375px) {
		padding: 5rem;
	}
}
.overlay.show .add-recipe-modal {
	opacity: 1;
	visibility: visible;
}

.close-btn {
	cursor: pointer;
	padding: 0.2rem;
	position: absolute;
	right: 15px;
	top: 15px;
	border: 0;
	margin-left: auto;

	display: flex;
	justify-content: center;
	align-content: center;
	background-color: unset;
	border-radius: 4px;
	z-index: 2;
}
.close-btn:is(:hover) {
	background-color: #eee;
}

.close-btn.recipes-list {
	position: static;
	border-radius: 50%;
	padding: 0.8rem;
	background-color: #eee;

	@media (min-width: 1024px) {
		display: none;
	}
}

/* form */
.add-recipe-box {
	display: flex;
	gap: 8rem;
	margin-bottom: 6rem;

	flex-direction: column;
	/* max-width: 80rem; */
	/* width: 40rem; */
	/* width: fill-available; */

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 8rem;

		/* width: 100%;
		max-width: 100rem; */
	}
}
.boxi {
	flex: 1 1 50%;
}
.add-recipe-modal .form-data {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 20px;
	align-items: center;
}
.add-recipe-box h3 {
	font-size: 20px;
	text-transform: uppercase;
}
.form-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.add-recipe-modal label {
	font-size: 11px;
	font-weight: 600;
}
.add-recipe-modal input {
	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: 0;
	min-width: 0;
	/* width: 100%;
	max-width: 40rem; */
}
.upload-btn {
	outline: 0;
	border: 0;
	font-size: 12px;
	font-weight: 600;
	padding: 10px 30px;
	border-radius: 50px;
	width: fit-content;
	display: block;
	margin: 0 auto;
	grid-column: span 2;
	display: flex;
	align-items: center;
	gap: 8px;
}
.upload-btn.disabled {
	background-image: none;
	background-color: #aaaa;
	cursor: no-drop;
}
.upload-btn:hover {
	transform: scale(1.05);
}
.feather-upload-cloud {
	color: #fff;
	height: 20px;
	width: 20px;
}
.upload-error {
	font-size: 13px;
	width: 80%;
	margin: 40px auto 0 auto;
	color: #c30303;
}
/* form ingredients */
.add-btn {
	width: fit-content;
	height: fit-content;
	display: flex;
	cursor: pointer;
	border-radius: 50%;
	border: 0;
	background-color: unset;
}
.box {
	overflow-y: hidden;
	height: 262px;
	overflow: hidden;
}
.modal-ingredients-list {
	overflow-y: auto;
	height: 100%;
	max-height: 26rem;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.add-ingredients-btn-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
}
.add-ingredient {
	text-transform: none;
	border: 0;
	padding: 5px 20px;
	display: block;
}
.btn.cancel {
	font-size: 11px;
	padding: 5px 10px;
	text-transform: none;
	background-image: none;
	border: 0;
	background-color: #999;
}
/************** Animation *************/
@keyframes infinite-rotate {
	100% {
		transform: rotate(1turn);
	}
}
